<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


        <title>CAPABLE</title>

        <style>
        body{
           height: 500px;

            /*background: linear-gradient(145deg, #3931f4, #8874fc,#5a26ff);*/
            background-image: url({{url_for('static', filename='im.png')}});
            background-size: 20% 135%;
            background-repeat: no-repeat;
            background-position: left 77px;
            background-color: #ADD8E6;

            }

        h1{
          text-align:center;
        }
        </style>

    </head>
    <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="padding-left: 50px; font-size:30px;" href="/">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" style="padding-left: 50px; font-size:30px;" href="/main">Main<span class="sr-only">(current)</span></a>
      <a class="nav-link active" style="padding-left: 50px; font-size:30px;" href="/menu">Menu<span class="sr-only">(current)</span></a>
      <a class="nav-link active" style="padding-left: 50px; font-size:30px;" href="/about">About<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>


<div>
<h1 style="font-family: Times New Roman; margin-top:2px;font-size: 90px;"> <u>CAPABLE</u></h1>
<h6 style="font-family: Times New Roman; margin-top:3px; padding-left: 650px; font-size: 25px;"> <u>AI-Voice Assistant</u></h6>
<p style="border:3px; border-style:solid; border-color:#000000; margin-right: 200px; margin-left: 350px; margin-top: 40px;font-size:18px;padding-left: 20px; padding-bottom: 10px">
  <br>Capable is a voice assistant that simplifies and consolidates any and all tasks you may typically perform on your laptop.
    As the name suggests, the application recognizes and responds to users through voice commands.
 <br>The reason for naming this app “CAPABLE” was not a coincidence: this project is specially geared towards aiding
    the disabled community by providing them a simple and easy access to using their computers. The functionalities have
    been chosen in a way to provide support to those who often face difficulty navigating devices designed for the
    general masses.
    <br>
 Capable is developed in the form of a Web-App to make it extremely user-friendly and accessible by people of all ages
    and abilities. However, it can also function without the internet, since  its speech recognition software does not
    use wifi to run for most general functionalities, except while using google-related services such as paying youtube
    videos, searching for information and looking up wikipedia.

    <br>The AI assistant works mainly through triggers i.e the user’s voice commands and greatly simplifies the
    process of using computers, laptops and even mobile phones. It looks for certain keywords in the user’s
    sentences/commands that activate its functionalities. The list of keywords can be found in the app itself,
    or can be recited by Capable, if requested.

    <br>The app will regularly undergo changes with newer and better updates. Suggestions are always welcome!! </p>
</div>

 </body>
</html>



